/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 50px;

// Color palette 
/*
$darkest: #161616;
$darker: #252525;
$dark: #353535;
$neutral: #5F5F5F;
$light: #C4C4C4;
$lighter: #FFFFFF;

$dark-brown: #cb997e;
$brown: #ddbea9;
$light-brown: #eddcd2;
$beige: #fff1e6;
$gray: #f0efeb;
$dark-green: #a5a58d;
$light-green: #b7b7a4;
*/

// Colors
$primary: #A49066;
$contrast: #261F15;
$light: #FFFFFF;
$neutral: #F5EDE5;

$black: #23272A;
$grey: #C4C4C4;
$light-grey: #F0F0F0;
$white: #FFFFFF;
$link: #0A96FF;



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.flex-row {
    flex-direction: row;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;   
}

.flex-column {
    flex-direction: column;
    -ms-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;   
}

.break-8 {
  height: 8px;
}

.split {
  height: 1px;
  width: 100%;
  background-color: $neutral;
}

h1 {
  font-weight: unset;
  margin: 0 0 4px 0;
}
h2 {
  font-weight: unset;
  margin: 0 0 2px 0;
}
h3 {
  font-weight: unset;
  margin: 0;
}
p {
  margin: 0 0 8px 0;
}
small {
  font-size: 7px;
}
b {
  font-size: 9px;
  font-weight: bold;
}
a {
  color: $link;
  cursor: pointer;
}

@media only screen and (max-width: 920px) { // Dekstop
  
}
@media only screen and (max-width: 690px) { // Desktop-slim or Tablet

}
@media only screen and (max-width: 420px) { // Mobile
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 9px;
  }
  small {
    font-size: 7px;
  }
  b {
    font-size: 9px;
    font-weight: bold;
  }
  a {
    color: $link;
  }
}