/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 60px;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

// Color palette 
$darker: #252525;
$dark: #353535;
$neutral: #5F5F5F;
$light: #C4C4C4;
$lighter: #FFFFFF;

$dark-blue: #264653;
$green: #2a9d8f;
$yellow: #e9c46a;
$light-orange: #f4a261;
$dark-orange: #e76f51;

$dark-brown: #cb997e;
$brown: #ddbea9;
$light-brown: #eddcd2;
$beige: #fff1e6;
$gray: #f0efeb;
$dark-green: #a5a58d;
$light-green: #b7b7a4;



.flex-row {
    flex-direction: row;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;   
}

.flex-column {
    flex-direction: column;
    -ms-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;   
}

.navbar {
    z-index: 20;
    height: $navbar-height;
    background-color: $darker;
    box-sizing: border-box;
  
    a {
      display: flex;
      align-items: center;
    }
  
    .title-desktop {
      display: inline;
    }
  
    .title-mobile {
      display: none;
    }
  
    @media (max-width: 500px) {
      padding: 0.7rem 0.7rem;
  
      .can-hide {
        display: none;
      }
  
      .title-desktop {
        display: none;
      }
  
      .title-mobile {
        display: block;
      }
    }
  
    .site-name {
      font-size: 1.3rem;
      font-weight: 600;
      color: #2c3e50;
      position: relative;
    }
  
    .logo {
      height: 24px;
      padding-right: 8px;
    }
  
    .links {
      padding-left: 1.5rem;
      box-sizing: border-box;
      white-space: nowrap;
      font-size: 0.9rem;
      position: absolute;
      right: 1.5rem;
      top: 0.7rem;
      display: flex;
  
      .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .nav-item {
          position: relative;
          display: inline-block;
          margin-left: 1.5rem;
  
  
          &:first-child {
            margin-left: 0;
          }
  
          a {
            font-weight: 500;
            font-size: 0.9rem;
            text-decoration: none;
            color: $lighter;
            border-color: #2c3e50;
            line-height: 1.4rem;
            display: inline-block;
            cursor: pointer;
          }
  
          @mixin activatedLink() {
            margin-bottom: -2px;
            border-bottom: 2px solid $dark-brown;
          }
  
          .router-link-active {
            @include activatedLink;
          }
  
          @media (hover) {
            :hover {
              @include activatedLink;
            }
          }
        }
      }
    }
  
    &.offline {
      background: $navbar-offline-color;
      .links .nav-links .nav-item a,
      .site-name {
        color: white;
      }
    }
  
    .user-picture {
      max-height: 32px;
      margin-left: 1.5rem;
      border-radius: 50%;
    }
  
    .offline-label {
      padding: 0px 10px;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      margin-left: 1.5rem;
    }
  }