/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 40px;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

// Color palette 
$darkest: #161616;
$darker: #252525;
$dark: #353535;
$neutral: #5F5F5F;
$light: #C4C4C4;
$lighter: #FFFFFF;

$dark-blue: #264653;
$green: #2a9d8f;
$yellow: #e9c46a;
$light-orange: #f4a261;
$dark-orange: #e76f51;

$dark-brown: #cb997e;
$brown: #ddbea9;
$light-brown: #eddcd2;
$beige: #fff1e6;
$gray: #f0efeb;
$dark-green: #a5a58d;
$light-green: #b7b7a4;


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.flex-row {
    flex-direction: row;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;   
}

.flex-column {
    flex-direction: column;
    -ms-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;   
}

.navbar {
    z-index: 200;
    height: $navbar-height;
    box-sizing: border-box;
  
    .links {
      padding-left: 1.5rem;
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
      display: flex;
  
      .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .nav-item {
          position: relative;
          display: inline-block;
          margin-left: 1.5rem;
  
          @mixin activatedLink() {
            margin-bottom: -2px;
            border-bottom: 2px solid $dark-brown;
          }
  
          .router-link-active {
            @include activatedLink;
          }
  
          @media (hover) {
            :hover {
              @include activatedLink;
            }
          }
        }
      }
    }
  
    &.offline {
      background: $navbar-offline-color;
      .links .nav-links .nav-item a,
      .site-name {
        color: white;
      }
    }
  
    .user-picture {
      max-height: 32px;
      margin-left: 1.5rem;
      border-radius: 50%;
    }
  
    .offline-label {
      padding: 0px 10px;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      margin-left: 1.5rem;
    }
  }